<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>
<header th:replace="layout/layout :: header0"></header>

<div class="container mt-4">
    <div class="catalogue w-95 p-2 text-white text-start d-flex align-items-center" style="background-color:#34495E; height: 38px; font-size: 1.5em;">
        LES DEMANDES
    </div>
    <div class="row d-flex justify-content-center py-5">
        <div class="col-12 mx-auto">
            <table th:if="${!requests.isEmpty()}" class="table table-striped text-center table-bordered">
                <thead>
                <tr>
                    <th>#</th>
                    <th>User</th>
                    <th>Book</th>
                    <th>State</th>
                    <th>Options</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="request, iterStat : ${requests}">
                    <td th:text="${request.id}">Id</td>
                    <td th:text="${request.user.username}">User</td>
                    <td th:text="${request.book.title}">Book</td>
                    <td th:text="${request.status}">State</td>
                    <td>
                        <form th:action="@{/loans/approve-request/{id}(id=${request.id})}" method="post" style="display: inline;" th:if="${request.status.toString() == 'PENDING'}">
                            <button type="submit" class="btn btn-success">Accept</button>
                        </form>
                        <form th:action="@{/loans/reject-request/{id}(id=${request.id})}" method="post" style="display: inline;" th:if="${request.status.toString() == 'PENDING'}">
                            <button type="submit" class="btn btn-danger">Reject</button>
                        </form>

                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <nav th:replace="paginator-nav :: paginator"></nav>
    </div>

</div>

<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>