<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container-fluid mb-4">
		<h3 th:text="${titulo}" class="text-center mt-5 mb-5">title</h3>

		<div class="col-11 mx-auto my-2">

			<div class="d-flex justify-content-end my-2">
				<a class="btn btn-warning" th:href="@{/usuarios/lista-usuarios}">&laquo;
					Volver</a>
			</div>

			<div class="card">
				<div class="card-body">
					<ul class="list-group">
						<li class="list-group-item"><span class="font-weight-bold">Usuario:</span>
							<p class="m-0" style="display: inline-block;"
								th:text="${usuario.nombre}">
							</p>
						</li>
						
						<li class="list-group-item"><span class="font-weight-bold">Correo:</span>
							<p class="m-0" style="display: inline-block;"
								th:text="${usuario.correo}">
							</p>
						</li>
						
						<li class="list-group-item"><span class="font-weight-bold">Dirección:</span>
							<p class="m-0" style="display: inline-block;"
								th:text="${usuario.direccion}">
							</p>
						</li>
					</ul>
				</div>
				<div class="card-footer">
					<p th:if="${#lists.isEmpty(usuario.prestamos)}"
						class="alert alert-info m-4"
						th:text="'No hay prestamos asignados para el usuario ' + ${usuario.nombre}">
					</p>

					<table th:if="${not #lists.isEmpty(usuario.prestamos)}"
						class="table table-bordered table-striped my-4 text-center">
						<thead class="thead-dark">
							<tr>
								<th>#</th>
								<th>Fecha Prestamo</th>
								<th>Fecha Devolución</th>
								<th>Devuelto</th>
								<th>Detalle Prestamo</th>
								<th>Editar Prestamo</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="prestamo : ${usuario.prestamos}">
								<td th:text="${prestamo.id}"></td>
								<td th:text="${#dates.format(prestamo.fechaPrestamo, 'dd-MMM-yyyy')}"></td>
								<td th:text="${#dates.format(prestamo.fechaDevolucion, 'dd-MMM-yyyy')}"></td>
								<td th:text="${prestamo.devuelto} ? 'Si' : 'No'"></td>
								<td><a class="btn btn-outline-primary"
									th:text="'Detalle Prestamo'"
									th:href="@{'/prestamos/detalle/' +${prestamo.id}}"></a></td>
								<td><a class="btn btn-warning"
									th:text="'Editar Prestamo'"
									th:href="@{'/prestamos/detalle/' +${prestamo.id}}"></a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>