<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
<header th:replace="layout/layout :: header0"></header>

<div class="container mt-5">
    <h3 class="text-center" th:text="${book.title}">Book Title</h3>

    <div class="row mt-4">
        <div class="card mb-4 col-8">
            <img th:if="${book.imageContent}" th:src="@{/books/image/{id}(id=${book.id})}" alt="Book Image" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title" th:text="${book.title}">Book Title</h5>
            </div>
        </div>
    </div>

    <div class="mt-4">
        <a th:href="@{/list-books}" class="btn btn-primary">Back to List</a>
    </div>
</div>

<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>
