<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
<header th:replace="layout/layout :: header0"></header>

<div class="container mt-5">
    <h3 th:text="${title}" class="text-center mt-5 mb-5">title</h3>

    <div class="d-flex justify-content-end mb-2">
        <div class="d-flex justify-content-center mr-5">
            <th:block th:if="${book.disponible}">
                <form th:action="@{/loanrequests/submit}" method="post" class="text-center">
                    <input type="hidden" name="bookId" th:value="${book.id}">
                    <button type="submit" class="btn btn-outline-primary btn-borrow">Borrow</button>
                </form>
            </th:block>
        </div>
        <div class="d-flex">
            <a class="btn btn-warning" th:href="@{/books/list-books}">&laquo; Return</a>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card mb-4">
                <img th:if="${book.imageContent}" th:src="@{/books/image/{id}(id=${book.id})}" alt="${book.title}" class="card-img-top img-thumbnail">
            </div>
        </div>
        <div class="col-md-8">
            <div class="card mb-4">
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item"><span class="font-weight-bold">Title:</span>
                            <p class="m-0" style="display: inline-block;"
                               th:text="${book.title}">
                            </p>
                        </li>

                        <li class="list-group-item"><span class="font-weight-bold">Author:</span>
                            <p class="m-0" style="display: inline-block;"
                               th:text="${book.author}">
                            </p>
                        </li>

                        <li class="list-group-item"><span class="font-weight-bold">Publisher:</span>
                            <p class="m-0" style="display: inline-block;"
                               th:text="${book.publisher}">
                            </p>
                        </li>
                        <li class="list-group-item"><span class="font-weight-bold">Available:</span>
                            <p class="m-0" style="display: inline-block;"
                               th:text="${book.disponible}">
                            </p>
                        </li>
                        <li class="list-group-item"><span class="font-weight-bold">ISBN:</span>
                            <p class="m-0" style="display: inline-block;"
                               th:text="${book.ISBN}">
                            </p>
                        </li>
                        <li class="list-group-item"><span class="font-weight-bold">Description:</span>
                            <p class="m-0" style="display: inline-block;"
                               th:text="${book.description}">
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>
