<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<header th:replace="layout/layout :: header0"></header>



<div class="container mt-4">
    <div class="row justify-content-center w-auto pt-5 pb-3" style="background-color: #7FB3D5;">
        <div class="col-md-4 mb-2" sec:authorize="hasRole('ROLE_ADMIN')">
            <a th:href="@{/books/create-book}" title="add book" class="btn btn-success">
                Ajouter
            </a>
        </div>
        <div class="justify-content-end">
            <form th:action="@{/books/search-books}" method="GET" class="form-inline">
                <div class="form-group">
                    <input type="text" name="keyword" class="form-control" placeholder="Chercher un titre...">
                </div>
                <button type="submit" class="btn btn-primary ml-2">Rechercher</button>
            </form>
        </div>
    </div>
    <div class="catalogue w-95 p-2 text-white text-start d-flex align-items-center" style=" background-color: #34495E; height: 38px; font-size: 1.5em;">
        <p class="px-5">CATALOGUE</p>
    </div>

    <p th:if="${books.isEmpty()}" class="mb-3">Books not available</p>

    <div class="row w-100 h-auto p-2">
        <div th:each="book, iterStat : ${books}" class="h-auto" style="width: 350px;">
            <div class="contain w-auto h-40 px-2 py-4">
                <img th:if="${book.imageContent}" th:src="@{/books/image/{id}(id=${book.id})}" alt="${book.title}" class="img-thumbnail" style="width: 330px; height: 200px;">
                <div class="w-auto h-10 py-3">
                    <h5 class="contain-title" th:text="${book.title}">Book Title</h5>
                </div>

                <div class="w-auto h-auto pb-2 justify-content-center">
                    <button class="btn btn-primary" type="button" data-toggle="collapse" th:data-target="'#optionsCollapse-' + ${book.id}" aria-expanded="false" aria-controls="optionsCollapse">
                        Options
                    </button>
                </div>

                <!-- Conteneur des boutons -->
                <div th:id="'optionsCollapse-' + ${book.id}" class="collapse pb-5">
                    <div class="row w-auto h-30 pb-5 justify-content-center">
                        <!-- Colonne de boutons -->
                        <div class="col-md-8 text-center">
                            <a th:href="@{/books/detail/{id}(id=${book.id})}" class="btn btn-outline-info btn-details">En savoir +</a>

                            <!-- Bloc pour les utilisateurs -->
                            <th:block th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}">
                                <th:block th:if="${book.disponible}">
                                    <form th:action="@{/loanrequests/submit}" method="post" class="d-inline">
                                        <input type="hidden" name="bookId" th:value="${book.id}">
                                        <button type="submit" class="btn btn-outline-success btn-borrow">Emprunter</button>
                                    </form>
                                </th:block>
                            </th:block>

                            <!-- Bloc pour les administrateurs -->
                            <th:block th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                                <a th:href="@{/books/edit-book/{id}(id=${book.id})}" class="btn btn-outline-warning btn-edit">Modifier</a>
                                <a th:href="@{/books/delete-book/{id}(id=${book.id})}" class="btn btn-outline-danger btn-delete">Supprimer</a>
                            </th:block>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <nav th:replace="paginator-nav :: paginator"></nav>
    </div>
</div>

<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>
