<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header0"></header>

	<div class="container">
		<h3 th:text="${title}" class="text-center mt-5 mb-5">title</h3>
		
		<div class="d-flex justify-content-end mb-2" sec:authorize="hasRole('ROLE_ADMIN')">
			<a class="btn btn-success" th:href="@{/books/create-book}">New book</a>
		</div>

		<p th:if="${books.isEmpty()}" th:text="'Books not available'"></p>

		<div class="row d-flex justify-content-center">
			<div class="col-12 mx-auto">
				<table th:if="${!books.isEmpty()}"
					class="table table-striped text-center table-bordered">
					<thead>
						<tr>
							<th>#</th>
							<th>Title</th>
							<th>Publisher</th>
							<th>ISBN</th>
							<th>Disponible</th>
							<th sec:authorize="hasRole('ROLE_ADMIN')">Edit</th>
							<th sec:authorize="hasRole('ROLE_ADMIN')">Delete</th>
						</tr>
					</thead>
					<tbody>
					<tr th:each="book : ${books}">
						<td th:text="${book.id}">Id</td>
						<td th:text="${book.title}">Title</td>
						<td th:text="${book.publisher}">Publisher</td>
						<td th:text="${book.ISBN}">ISBN</td>
						<td th:text="${book.disponible ? 'Yes' : 'No'}">Available</td>
						<td sec:authorize="hasRole('ROLE_ADMIN')">
							<a class="btn btn-warning" th:href="@{/books/edit-book/} + ${book.id}"> Edit </a>
						</td>
						<td sec:authorize="hasRole('ROLE_ADMIN')">
							<a class="btn btn-danger" th:href="@{/books/delete-book/} + ${book.id}" th:text="'Delete'"> Delete </a>
						</td>
					</tr>
					</tbody>

				</table>

				<nav th:replace="paginator-nav :: paginator"></nav>

			</div>
		</div>
		<!-- row -->

	</div>
	
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>