<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">
		<h3 th:text="${title}" class="text-center mt-5 mb-5">title</h3>
		
		<div class="d-flex justify-content-end mb-2">
			<a class="btn btn-warning" th:href="@{/authors/list-authors}">&laquo;
				Return</a>
		</div>

		<div class="col-8 mx-auto my-4">
			<form th:action="@{/authors/create-author}" th:object="${author}" method="POST">
				<div class="form-group">
					<label for="nombre">Name</label>
					<input type="text" class="form-control" id="nombre" 
						aria-describedby="emailHelp" placeholder="Enter Name" th:field="*{name}"
						th:value="${name}">
						<small class="text-danger" th:if="${#fields.hasErrors('name')}"
							th:errors="*{name}"></small>
				</div>
				<div class="form-group">
					<label for="nacionalidad">Nationality</label>
					<input type="text" class="form-control" id="nacionalidad" placeholder="Senegal"
					th:field="*{nationality}" th:value="${nationality}">
					<small class="text-danger"
							th:if="${#fields.hasErrors('nationality')}"
							th:errors="*{nationality}"></small>
				</div>
				<button type="submit" class="btn btn-primary">Save Author</button>
			</form>
		</div>

	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>