<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	
	<div class="container">
		<h3 th:text="${titulo}" class="text-center mt-5 mb-5">title</h3>
		
		<div class="d-flex justify-content-end mb-2" sec:authorize="hasRole('ROLE_ADMIN')">
			<a th:href="@{/autores/crear-autor}" class="btn btn-success">Nuevo autor</a>
		</div>

		<p th:if="${autores.isEmpty()}" th:text="'No hay autores para mostrar'"></p>

		<div class="row d-flex justify-content-center">
			<div class="col-12 mx-auto">
				<table th:if="${!autores.isEmpty()}"
					class="table table-striped text-center table-bordered mb-4">
					<thead>
						<tr>
							<th>#</th>
							<th>Nombre</th>
							<th>Nacionalidad</th>
							<th sec:authorize="hasRole('ROLE_ADMIN')">Editar</th>
							<th sec:authorize="hasRole('ROLE_ADMIN')">Eliminar</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="autor : ${autores}">
							<td th:text="${autor.id}">Id</td>
							<td th:text="${autor.nombre}">Nombre</td>
							<td th:text="${autor.nacionalidad}">Nacionalidad</td>
							<td sec:authorize="hasRole('ROLE_ADMIN')"><a
								class="btn btn-warning"
								th:href="@{/autores/editar-autor/} + ${autor.id}"> Editar </a></td>
							<td sec:authorize="hasRole('ROLE_ADMIN')"><a
								class="btn btn-danger"
								th:href="@{/autores/eliminar-autor/} + ${autor.id}" th:text="'Eliminar'">
								Eliminar </a></td>
						</tr>
					</tbody>
				</table>

				<nav th:replace="paginator-nav :: paginator"></nav>

			</div>
		</div>
		<!-- row -->

	</div>
	
	<footer th:replace="layout/layout :: footer"></footer>
	
</body>
</html>