<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">
		<h3 th:text="${titulo}" class="text-center mt-5 mb-5">title</h3>

		<div class="d-flex justify-content-end mb-2">
			<a class="btn btn-warning" th:href="@{/libros/lista-libros}">&laquo;
				Volver</a>
		</div>

		<div class="col-8 mx-auto mb-3	">
			<form th:action="@{/libros/crear-libro}" th:object="${libro}"
				method="POST">
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="titulo">Titulo</label> <input type="text"
							class="form-control" id="titulo" placeholder="Titulo del libro"
							th:field="*{titulo}" th:value="${titulo}">
							<small class="text-danger"
							th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}"></small>
					</div>
					<div class="form-group col-md-6">
						<label for="editorial">Editorial</label> <input type="text"
							class="form-control" id="editorial"
							placeholder="Editorial del libro" th:field="*{editorial}"
							th:value="${editorial}">
							<small class="text-danger"
							th:if="${#fields.hasErrors('editorial')}" th:errors="*{editorial}"></small>
					</div>
				</div>
				<div class="form-group">
					<label for="isbn">ISBN</label> <input type="text"
						class="form-control" id="isbn" placeholder="ISBN del Libro"
						th:field="*{ISBN}" th:value="${ISBN}">
						<small class="text-danger"
							th:if="${#fields.hasErrors('ISBN')}" th:errors="*{ISBN}"></small>
				</div>
				<div class="form-group">
					<label for="autor">Autor</label> 
						<select id="autor" class="form-control" name="autor">
						<option selected disabled="disabled">Autor...</option>
						<option th:each="autor : ${autores}" th:value="${autor.id}"
							th:text="${autor.nombre}" th:field="*{autor}">Autor...</option>
					</select>
					<small class="text-danger"
							th:if="${#fields.hasErrors('autor')}" th:errors="*{autor}"></small>
				</div>

				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="habilitar">¿Disponible en Fisico?</label>
							<input type="checkbox" id="habilitar" th:field="*{disponible_fisico}">
					</div>
				</div>
				<button type="submit" class="btn btn-primary">Guardar Libro</button>
			</form>
		</div>

	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>