
body{
	position: relative;
	padding-bottom: 5rem;
	min-height: 100vh;
}

input[type=checkbox] {
    transform: scale(1.5);
    accent-color: #FD841F;
}

footer {
   position: absolute;
   bottom: 0;
   width: 100%;
}

.navbar-nav .active > .nav-link {
            color: #9633FF;
            background-color: #007bff;
        }
