<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container mb-5 mt-5">
		<div class="col-6 mx-auto card bg-danger text-white">
			<div class="card-header">Error: Acces Denied</div>
			<div class="card-body">
				<h5 class="card-title">
					We're sorry <span th:text="${#authentication.name}"></span>, You don't have permission to access this resource.
				</h5>
				<a th:href="@{/books/list-books}" class="btn btn-outline-light" role="button">Back</a>

			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>