<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body style="background-color: #eee;">
<header th:replace="layout/layout :: header0"></header>


<section class="h-100 gradient-form my-5" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="card-body p-md-5 mx-md-4">
                                <div class="text-center">
                                    <h4 th:text="${welcomeMessage}" class="mt-1 mb-2 pb-1"></h4>
                                    <p class="py-3">La bibliothèque vous offre plusieurs services comme l'accès au catalogue, la demande et suivie de prets, la consultation des emprunts, la réservation de livres,..</p>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 d-flex justify-content-center">
                                        <img th:src="@{/images/inscription.png}" alt="ESMT library" class="img-thumbnail" style="max-width: 90px; height: auto; margin-bottom: 10px;"/>
                                    </div>
                                    <div class="col-md-6 d-flex justify-content-center">
                                        <img th:src="@{/images/livre.png}" alt="ESMT library" class="img-thumbnail" style="max-width: 90px; height: auto; margin-bottom: 10px;"/>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 d-flex justify-content-center">
                                        <img th:src="@{/images/biblio2.png}" alt="ESMT library" class="img-thumbnail" style="max-width: 90px; height: auto; margin-bottom: 10px;"/>
                                    </div>
                                    <div class="col-md-6 d-flex justify-content-center">
                                        <img th:src="@{/images/biblio.png}" alt="ESMT library" class="img-thumbnail" style="max-width: 90px; height: auto; margin-bottom: 10px;"/>
                                    </div>
                                </div>
                                <p class="py-3">Une livre non rendue après la date limite fixé entraine une pénalité pour le lecteur qui peut aller jusqu'à la suspension définitve de son compte. Veillez bien donc à rendre les livres à temps pour la satisfaction de tout le monde."></p>

                            </div>
                        </div>
                        <div class="col-lg-6 d-flex align-items-center gradient-custom-2" style="background-color:#EAEDED; position: relative;">
                            <div class="col px-3 py-4 p-md-5 mx-md-4" style="position: absolute; top: 0; left: 0;">
                                <h4 class="mb-4">Compte Lecteur</h4>
                                <ul class="small mb-0">
                                    <li>Mes Demandes</li>
                                    <li>mes Emprunts</li>
                                    <li>Mes réservations</li>
                                    <li>Mes favoris</li>
                                </ul>
                            </div>
                            <div class="col px-3 py-4 p-md-5 mx-md-4" style="position: absolute; top: 25%; left: 0;">
                                <h4 class="mb-4">Catalogue</h4>
                                <ul class="small mb-0">
                                    <li>Livres</li>
                                    <li>Catégorie</li>
                                    <li>Emprunter</li>
                                    <li>Réserver</li>
                                </ul>
                            </div>
                            <div class="col px-3 py-4 p-md-5 mx-md-4" style="position: absolute; top: 50%; left: 0;">
                                <h4 class="mb-4">Des question, besoin d'aide ?</h4>
                                <p class="small mb-0">Cliquer ici pour demander demander à un bibliothécaire de t'aider</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container justify-content-center my-5">

    <h3 class="text-center mb-2">La bibliothèque en statistique:</h3>



    <div class="row justify-content-center" style="background-color:#C3EDF5;  margin-left:70px; margin-right:60px;">
        <div class="col-4 col-sm-4 m-3 text-center">
            <h5>Nombre de livres</h5>
            <p th:text="${numberOfBooks}"></p>
        </div>
        <div class="col-4 col-sm-4 m-3 text-center">
            <h5>Nombre de livres disponibles</h5>
            <p th:text="${numberOfAvailableBook}"></p>
        </div>
        <!-- Force next columns to break to new line at md breakpoint and up -->
        <div class="w-100 d-none d-md-block"></div>
        <div class="col-4 col-sm-4 m-3 text-center">
            <h5>Nombre d'utilisateurs</h5>
            <p th:text="${numberOfUsers}"></p>
        </div>
        <div class="col-4 col-sm-4 m-3 text-center">
            <h5>Nombre de demandes d'emprunts</h5>
            <p th:text="${numberOfLoanRequests}"></p>
        </div>
        <!-- Force next columns to break to new line at md breakpoint and up -->
        <div class="w-100 d-none d-md-block"></div>
        <div class="col-4 col-sm-4 m-3 text-center">
            <h5>Number de préts réalisés</h5>
            <p th:text="${numberOfLoans}"></p>
        </div>

    </div>
</div>



<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>

