<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/login.css}" />
</head>
<body>

<section class="h-100 gradient-form" style="background-color: #eee;">
	<div class="container py-5 h-100">
		<div class="row d-flex justify-content-center align-items-center h-100">
			<div class="col-xl-10">
				<div class="card rounded-3 text-black">
					<div class="row g-0">
						<div class="col-lg-6">
							<div class="card-body p-md-5 mx-md-4">
								<div class="text-center">
									<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
										 style="width: 185px;" alt="logo">
									<h4 class="mt-1 mb-5 pb-1">Library Management System</h4>
								</div>

								<form th:action="@{/login}" method="POST">
									<div class="form-outline mb-4">
										<label class="form-label" for="username">Nom d'utilisateur</label>
										<input type="text" id="username" class="form-control" name="username" autofocus required placeholder="Nom d'utilisateur"/>
									</div>

									<div class="form-outline mb-4">
										<label class="form-label" for="password">Mot de passe</label>
										<input type="password" id="password" class="form-control" name="password" required placeholder="Mot de passe"/>
									</div>

									<div class="text-center pt-1 mb-5 pb-1">
										<button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">Connexion</button>
									</div>

									<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

									<div class="d-flex align-items-center justify-content-center pb-4">
										<p class="mb-0 me-2">Vous n'avez pas de compte?</p>
										<a href="/register" class="btn btn-outline-danger">Créer un compte</a>
									</div>

								</form>

								<!-- Ajoutez ce code pour afficher le message d'erreur -->
								<div th:if="${param.error}">
									<div class="alert alert-danger" role="alert">
										<strong>Erreur:</strong> Nom d'utilisateur ou mot de passe est incorrect, veillez réessayer svp!!!
									</div>
								</div>

								<div th:if="${param.logout}">
									<div class="alert alert-success" role="alert">
										<strong>Déconnecté:</strong> Déconnexion réussi avec succès!
									</div>
								</div>

							</div>
						</div>
						<div class="col-lg-6 d-flex align-items-center gradient-custom-2" style="background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);">
							<div class="text-white px-3 py-4 p-md-5 mx-md-4">
								<h4 class="mb-4">It's more than just a simple library management system</h4>
								<p class="small mb-0">Connect to have full access and fun</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

</body>
</html>
