<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Registration Success</title>
</head>
<body style="background-color: #eee;">
<div class="container mt-5">
    <div class="card text-center">
        <div class="card-body">
            <h2 class="card-title" th:text="${message}">You have successfully registered.</h2>
            <p class="card-text">Please click the button below to go to the login page.</p>
            <a href="/login" class="btn btn-primary">Back to Login</a>
        </div>
    </div>
</div>
</body>
</html>
